In [43]:
#Importing required Libraries
import pandas as pd
import pickle

In [44]:
# Read the unseen data from the CSV file "Assign_unseen_data.csv" into a pandas DataFrame.
udf = pd.read_csv("Assign_unseen_data.csv")

In [45]:
udf

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,FWI,BUI,Region,Classes_fire,Classes_not_fire
0,28,7,32,60,15,1.5,65.9,4.1,7.8,1.0,0.18,3.6,0,0,1
1,29,8,35,63,12,0.0,63.4,4.5,8.2,1.5,1.67,3.8,0,1,0

In [46]:
# Set the input variables (features) by dropping the 'FWI' column from the unseen DataFrame 'rdf'.
input = udf.drop(columns=["FWI"])

# Set the target variable by selecting only the 'FWI' column from the unseen DataFrame 'rdf'.
output = udf['FWI']

In [47]:
input

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,Region,Classes_fire,Classes_not_fire
0,28,7,32,60,15,1.5,65.9,4.1,7.8,1.0,3.6,0,0,1
1,29,8,35,63,12,0.0,63.4,4.5,8.2,1.5,3.8,0,1,0

In [48]:
output

0    0.18
1    1.67
Name: FWI, dtype: float64

In [ ]:
# Load the scaler pickle file to scale the unseen data.
scal_new_data = pickle.load(open('mk_scaler_assign.pkl', 'rb'))

# Scale the input features of the unseen data using the loaded scaler.
scaled_df = scal_new_data.transform(input)

In [51]:
scaled_df

array([[ 1.34445155, -0.40740741, -0.0112222 , -0.18652146, -0.20923404,
         0.30074338, -0.81104769, -0.84245499, -0.86710487, -0.87252794,
        -0.90943979, -1.        , -1.098996  ,  1.098996  ],
       [ 1.45605153,  0.49206349,  0.80639527,  0.01630571, -1.35664652,
        -0.38582388, -0.98630459, -0.81142702, -0.85898937, -0.75597148,
        -0.89596191, -1.        ,  0.90992142, -0.90992142]])

In [ ]:
# Load the trained Linear Regression model from the pickle file.
mlr_new = pickle.load(open('sd_mlr_assign.pkl', 'rb'))

# Predict the output variable 'FWI' using the loaded model on the scaled unseen data.
y_pred_new = mlr_new.predict(scaled_df)

In [53]:
# Model Evaluation for the predictions on unseen data.

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(output, y_pred_new)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(output, y_pred_new)

# Calculate R-squared (R2) score
r2 = r2_score(output, y_pred_new)

# Print evaluation metrics
print('r2:', r2)
print('mae:', mae)
print('mse:', mse)

r2: 0.9995900872373441
mae: 0.01171783653446093
mse: 0.00022751183109308423

In [54]:
y_pred_new

array([0.17777975, 1.64878458])